<mat-card class="pull-request-card">
  <mat-card-header>
    <img mat-card-avatar src="{{pr.author.avatarUrl}}" class="pull-request-card-header-image" alt="{{pr.author.login}}">    
    <mat-card-title>{{pr.title}}</mat-card-title>
    <mat-card-subtitle>{{pr.repository.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="isSelected">
    <mat-list>
      <mat-list-item>Commits: {{pr.nrCommits}}</mat-list-item>
      <mat-list-item>Files Changed: {{pr.filesChanged}}</mat-list-item>
      <mat-list-item>Additions: {{pr.additions}}</mat-list-item>
      <mat-list-item>Deletions: {{pr.deletions}}</mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-footer>{{pr.headBranch}} -> {{pr.baseBranch}}</mat-card-footer>
</mat-card>
