<mat-card class="pull-request-card">
  <mat-card-header>
    <img mat-card-avatar src="{{pr.author.avatarUrl}}" class="pull-request-card-header-image" alt="{{pr.author.login}}">    
    <mat-card-title>{{pr.title}}</mat-card-title>
    <mat-card-subtitle>{{pr.repository.name}}</mat-card-subtitle>
  </mat-card-header>
  Merging from {{pr.headBranch}} into {{pr.baseBranch}} with <br>
  <ul>
    <li>Commits: {{pr.nrCommits}}</li>
    <li>Files Changed: {{pr.filesChanged}}</li>
    <li>Additions: {{pr.additions}}</li>
    <li>Deletions: {{pr.deletions}}</li>
  </ul>
  <!-- <mat-card-content>
    <p>
      Here's some content for the PR (maybe expand once the item is selected?)
    </p>
  </mat-card-content> -->
</mat-card>
