.code {
    font-family: monospace;
    font-weight: bold;
    /* background-color: lightgray; */
}

.mat-expansion-panel {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.avatar {
    border-radius: 50%;
    max-width: 25px;
    margin-left: 5px;
}

.fill-space-to-right {
    flex: 1 1 auto;
}

.avatar-author {
    border-radius: 10%;
    max-width: 50px;
}

.pr-summary {
    display: grid;
    grid-template-columns: 60px auto auto; /* 60px for the first column as it's .avatar-author.max-width (50px) plus some extra white space padding */
    grid-template-rows: 3;
    grid-template-areas: 
    "image branches branches"
    "image stats stats"
    "..... stats stats";
}

.pr-summary-image {
    grid-area: image;
}

.pr-summary-branches {
    grid-area: branches;
}

.pr-summary-stats {
    grid-area: stats;
}
